@import url("base.css");
@import url("layout.css");
@import url("buttons.css");
@import url("upload.css");
@import url("file-card.css");
@import url("tools.css");
@import url("cards.css");
@import url("result.css");
@import url("responsive.css");
